@model List<cine1.Models.TmSala>

@{
    ViewData["Title"] = "Salas";
}
<style>

    table {
        background: #26B6BD;
        border-radius: 3px;
        border-collapse: collapse;
        height: 350px;
        margin: auto;
        max-width: 2000px;
        padding: 5px;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        animation: float 5s infinite;
    }

    th {
        color: #010101;
        background: #1b1e24;
        border-bottom: 4px solid #AEC1E0;
        border-right: 1px solid #343a45;
        font-size: 15px;
        font-weight: 100;
        padding: 24px;
        text-align: left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
    }

        th:first-child {
            border-top-left-radius: 3px;
        }

        th:last-child {
            border-top-right-radius: 3px;
            border-right: none;
        }

    tr {
        border-top: 1px solid #C1C3D1;
        border-bottom: 1px solid #C1C3D1;
        color: #666B85;
        font-size: 16px;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    }

        tr:hover td {
            background: #4E5066;
            color: #A2AFC2;
            border-top: 1px solid #22262e;
        }

        tr:first-child {
            border-top: none;
        }

        tr:last-child {
            border-bottom: none;
        }

        tr:nth-child(odd) td {
            background: #EBEBEB;
        }

        tr:nth-child(odd):hover td {
            background: #4E5066;
        }

        tr:last-child td:first-child {
            border-bottom-left-radius: 3px;
        }

        tr:last-child td:last-child {
            border-bottom-right-radius: 3px;
        }

    td {
        background: #3E7DBC;
        padding: 20px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 18px;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        border-right: 1px solid #3E7DBC;
    }

        td:last-child {
            border-right: 0px;
        }
</style>
<div class="container mt-5">
    @if (TempData["SuccessMessage_Sala"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage_Sala"]
        </div>
    }

    @if (TempData["ErrorMessage_Sala"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage_Sala"]
        </div>
    }
    <br />
    <input type="text" id="searchInput" class="form-control mb-3 shadow-sm" placeholder="Buscar...">
    <br />
    <br />
    <div class="mb-3">
        <a href="@Url.Action("SalaInsertar", "Modulos")" class="btn btn-primary">
            Registrar nueva Sala
        </a>
    </div>
    <br />
    <table id="tablaUsuarios" class="table table-hover table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Numero de sala</th>
                <th>Capacidad de asientos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sala in Model)
            {
                <tr>
                    <td>@sala.NumeroSala</td>
                    <td>@sala.CapacidadAsiento</td>
                
               
                
                    <td>

                        <form method="post" action="@Url.Action("EliminarSala", "Modulos")" class="d-inline">
                            <input type="hidden" name="id" value="@sala.Id" />
                            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar esta Sala?');">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();

            $("#tablaUsuarios tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });

</script>